
BackEnd/CoursesWebApp/.vs/CoursesWebApp/FileContentIndex/9a5848b6-d8e4-4870-8a66-75b681d0075b.vsidx
.vs/
*.dll
*.dll
*.dll
*.pdb
*.cache
*.json
/BackEnd/CoursesWebApp/obj/Debug
BackEnd/CoursesWebApp/appsettings.json
appsettings.json
